.asset-2-1 {
  position: absolute;
  top: 78px;
  left: 50px;
  width: 1307px;
  height: 420px;
  object-fit: cover;
}
.halo-im-sulissetiawati {
  margin: 0;
}

.halo-im-sulissetiawati-2 {
  margin: 0;
  position: absolute;
  top: 3.0%;
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-actor);
}
.im-a-final {
  margin: 0;
  position: absolute;
  top: 25.5%;
  text-align: initial;
  text-align-last: left;
  font-size: var(--font-size-lgi);
  font-family: var(--font-mulish);
}
.halo-im-sulissetiawati-container1 {
  line-break: anywhere;
  width: 100%;
}
.halo-im-sulissetiawati-container {
  position: absolute;
  top: 200px;
  left: 410px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 914px;
  height: 210px;
  font-size: 36px;
  font-family: var(--font-abril-fatface);
}
.universitas-pendidikan-indones {
  margin: 0;
  font-weight: 500;
}
.october-2024-expected {
  margin: 0;
  color: var(--color-white);
}
.universitas-pendidikan-indones-container {
  position: absolute;
  top: 608px;
  left: 139px;
  display: flex;
  align-items: center;
  width: 361px;
  height: 210px;
}
.asset-7-1 {
  position: absolute;
  top: 27px;
  left: 917px;
  width: 156px;
  height: 88px;
  object-fit: cover;
}
.asset-5-icon {
  top: 27px;
  left: 1184px;
  width: 214px;
  height: 88px;
  cursor: pointer;
}
.asset-5-icon,
.asset-6-icon,
.asset-8-1-1 {
  position: absolute;
  object-fit: cover;
}
.asset-6-icon {
  top: 30px;
  left: 1040px;
  width: 183px;
  height: 83px;
  cursor: pointer;
}
.asset-8-1-1 {
  top: 617px;
  left: 118px;
  width: 15px;
  height: 143px;
}
.education,
.skills,
.soft-skills,
.technical-skills {
  position: absolute;
  top: 533px;
  left: 119px;
  font-size: var(--font-size-23xl);
  display: flex;
  color: var(--color-white);
  align-items: center;
  width: 331px;
  height: 64px;
}
.skills,
.soft-skills,
.technical-skills {
  top: 831px;
  left: 118px;
}
.soft-skills,
.technical-skills {
  top: 893px;
  font-size: var(--font-size-15xl);
  font-weight: 600;
}
.soft-skills {
  top: 1543px;
}
.creativity-data-analysis-container,
.microsoft-office {
  position: absolute;
  top: 964px;
  left: 319px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 181px;
  height: 64px;
}
.creativity-data-analysis-container {
  top: 1619px;
  left: 118px;
  width: 443px;
}
.adobe-after-effects,
.adobe-illustrator,
.figma,
.looker-studio,
.looker-studio1 {
  position: absolute;
  top: 1029px;
  left: 193px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 181px;
  height: 64px;
}
.adobe-after-effects,
.figma,
.looker-studio,
.looker-studio1 {
  top: 1100px;
}
.figma,
.looker-studio,
.looker-studio1 {
  top: 1161px;
}

.looker-studio,
.looker-studio1 {
  top: 1220px;
  left: 192px;
}
.looker-studio1 {
  top: 1281px;
}
.looker-studio2,
.looker-studio3 {
  left: 193px;
  font-weight: 500;
  width: 181px;
}
.looker-studio2 {
  position: absolute;
  top: 1350px;
  display: flex;
  align-items: center;
  height: 64px;
}
.looker-studio3 {
  top: 1418px;
}
.documentation,
.experience,
.looker-studio3,
.looker-studio4 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 64px;
}
.looker-studio4 {
  top: 1485px;
  left: 194px;
  font-weight: 500;
  width: 181px;
}
.documentation,
.experience {
  top: 533px;
  left: 559px;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
  width: 331px;
}
.documentation {
  top: 1733px;
  left: 597px;
  text-align: center;
  justify-content: center;
}
.asset-10-1 {
  position: absolute;
  top: 620px;
  left: 561px;
  width: 15px;
  height: 773px;
  object-fit: cover;
}
.laboratory-assistant- {
  font-weight: 500;
}
.coordinated-with-other {
  font-weight: 300;
  font-size: 17.5px;
}
.taught-and-provided-examples-o {
  margin-bottom: 0;
  font-size: 18.5px;
}
.coordinated-with-other-laborat {
  margin: 0;
  font-size: var(--font-size-lgi);
  padding-left: var(--padding-6xl);
  color: var(--color-white);
}
.laboratory-assistant-container {
  position: absolute;
  top: 609px;
  left: 591px;
  display: flex;
  align-items: top;
  width: 755px;
  height: 194px;
  color: var(--color-gold-100);
}
.arduino-4d-frame-workshop {
  margin: 0;
  color: var(--color-gold-100);
}
.stem-upi {
  margin: 0;
  font: var(--font-mulish);
  font: size 20px;
  font-weight: 500;
  color: var(--color-gold-100);
}
.span {
  font-weight: 500;
  font-family: var(--font-mulish);
  color: var(--color-gold-100);
}
.arduino-4d-container {
  top: 784px;
  color: var(--color-white);
}
.arduino-4d-container,
.design-graphic-physics-container,
.pdd-staff-at-container {
  position: absolute;
  left: 591px;
  display: flex;
  align-items: top;
  width: 757px;
  height: 194px;
}
.pdd-staff-at-container {
  top: 1010px;
  left: 589px;
}
.design-graphic-physics-container {
  top: 1191px;
}
.span1 {
  font-weight: 500;
  font-family: var(--font-mulish);
}
.physics-content-staff-container {
  position: absolute;
  top: 1329px;
  left: 589px;
  display: flex;
  align-items: center;
  width: 757px;
  height: 194px;
}
.asset-11-1 {
  position: absolute;
  top: 962px;
  left: 108px;
  width: 216px;
  height: 568px;
  object-fit: cover;
}
.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  position: absolute;
  height: 98.22%;
  width: 14.51%;
  top: 0;
  right: 85.49%;
  bottom: 1.78%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-icon1,
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  width: 15.36%;
  right: 70.13%;
  left: 14.51%;
}
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  height: 98.24%;
  width: 13.39%;
  right: 56.75%;
  bottom: 1.76%;
  left: 29.86%;
}
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  height: 98.22%;
  width: 13.95%;
  right: 29.76%;
  bottom: 1.78%;
  left: 56.3%;
}
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  height: 98.24%;
  width: 13.98%;
  right: 43.67%;
  bottom: 1.76%;
  left: 42.35%;
}
.rectangle-icon5,
.rectangle-icon6 {
  height: 100%;
  width: 14.66%;
  right: 0;
  bottom: 0;
  left: 85.34%;
}
.rectangle-icon6 {
  height: 97.99%;
  width: 15.45%;
  right: 14.6%;
  bottom: 2.01%;
  left: 69.95%;
}
.rectangle-parent {
  position: absolute;
  height: 99.99%;
  width: 349.21%;
  top: 0;
  right: -249.21%;
  bottom: 0.01%;
  left: 0;
}
.landpage-inner {
  position: absolute;
  top: 1821px;
  left: 160px;
  width: 1190px;
  height: 337px;
  overflow-x: auto;
}
.bichevron-left-icon,
.bichevron-right-icon {
  position: absolute;
  height: 2.87%;
  width: 4.38%;
  top: 77.09%;
  right: 6.81%;
  bottom: 20.04%;
  left: 88.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bichevron-left-icon {
  height: 2.78%;
  width: 4.24%;
  top: 76.86%;
  right: 89.38%;
  bottom: 20.36%;
  left: 6.39%;
}
.about-me {
  position: absolute;
  top: 52px;
  left: 65px;
  font-size: 40px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 331px;
  height: 64px;
}
.landpage-child {
  position: absolute;
  top: 2252px;
  left: 0;
  background-color: #00509d;
  width: 1700px;
  height: 193px;
}
.copyright-2023-sulissetiawati {
  position: absolute;
  top: 2472px;
  left: calc(50% - 311px);
  font-size: var(--font-size-2xl);
  display: flex;
  color: #ffe43d;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 621px;
  height: 39px;
}
.icon-envelope-closed,
.icon-github,
.icon-instagram,
.icon-linkedin {
  position: absolute;
  height: 2.31%;
  width: 4.1%;
  top: 89.45%;
  right: 44.44%;
  bottom: 8.24%;
  left: 51.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-envelope-closed,
.icon-github,
.icon-linkedin {
  top: 89.49%;
  right: 76.88%;
  bottom: 8.2%;
  left: 19.03%;
}
.icon-envelope-closed,
.icon-github {
  height: 1.88%;
  width: 4.17%;
  top: 93.06%;
  right: 76.81%;
  bottom: 5.06%;
}
.icon-github {
  height: 2.31%;
  width: 4.2%;
  top: 92.59%;
  right: 44.34%;
  bottom: 5.1%;
  left: 51.46%;
}
.sulis38-meisner8-githubcom {
  position: absolute;
  top: 2359px;
  left: 770px;
  font-size: var(--font-size-2xl);
  text-decoration: none;
  display: flex;
  font-style: italic;
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 363px;
  height: 61px;
}
.sulissetiawati-sulisset-0382 {
  top: 2279px;
  left: 796px;
  text-decoration: none;
  font-style: italic;
  width: 444px;
  height: 61px;
  text-decoration: none;
}
.sulissetiawati-,
.sulissetiawati-sulisset-0382,
.sulissetwati085gmailcom {
  position: absolute;
  font-size: var(--font-size-2xl);
  display: flex;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sulissetiawati- {
  top: 2287px;
  left: 300px;
  font-style: italic;
  width: 292px;
  height: 53px;
  text-decoration: none;
}
.sulissetwati085gmailcom {
  top: 2374px;
  left: 365px;
  width: 295px;
  height: 42px;
}
.vector-icon {
  position: absolute;
  height: 3.8%;
  width: 4.26%;
  top: 82.54%;
  right: 3.45%;
  bottom: 13.66%;
  left: 92.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}

.landpage {
  position: relative;
  background-color: #00296b;
  width: 100%;
  height: 2549px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gold-100);
  font-family: var(--font-mulish);
}

