body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-mulish: Mulish;

  /* font sizes */
  --font-size-4xl: 23px;
  --font-size-xl: 20px;
  --font-size-2xl: 21px;
  --font-size-15xl: 34px;
  --font-size-22xl: 41px;

  /* Colors */
  --color-white: #fff;
  --color-gold-100: #ffe43d;
  --color-gold-200: #fdc500;
}
